{% extends "base.html" %}

{% block title %}设备{% endblock %}


{% block navbar %}
<section class="content-header">
    <h1>{{eqname}}</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active"><a href="{{ url_for('eqname.eqnames',ksid=ksid) }}"> {{ksname}}</a></li>
        <li class="active"><a href="{{ url_for('eqname.eqnames',ksid=ksid) }}"> 设备</a></li>
        <li class="active"><a href="{{ url_for("eqname.eqinfo", eqid=eqid,ksid=ksid) }}"> 设备资料</a></li>
        
        <li class="active">{{eqname}}查看</li>
    </ol>
</section>
{% endblock %}


{% block content %}
<div class="box-body">
    <div class="col-md-4" style="margin-bottom: 20px;">
        {% if  byto == "eqinfo" %}
        <label><a href="{{ url_for("eqname.eqinfo", eqid=eqid,ksid=ksid) }}" class="btn btn-default btn-flat">返回上一步</a></label>      
        {% elif byto == "ininfo"%}
        <label><a href="{{ url_for("eqname.ininfo", eqid=eqid,ksid=ksid) }}" class="btn btn-default btn-flat">返回上一步</a></label>      
        {% elif byto == "maininfo"%}
        <label><a href="{{ url_for("eqname.maininfo", eqid=eqid,ksid=ksid) }}" class="btn btn-default btn-flat">返回上一步</a></label>      
        {% else %}
        {% endif %}
    </div>
    <br><img src={{ url_for('static', filename='to/eqce1/crop_file1.jpg') }}>

</div>
{% endblock %}

